{% extends '@App/Layout/layout-two-col-4-8.html.twig' %}

{% block content %}
  <div class="block block--page-view">
    <span>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('page_edit', { 'id' : page.id }) }}" class="btn btn-sm btn-info float-right">Edit</a>
          <a href="{{ path('page_delete', { 'id' : page.id }) }}" class="btn btn-sm btn-danger float-right ">Delete</a>
        {% endif %}
      </span>
    <div class="block block-content">
      <a href="{{ path('page_view', {'id' : page.id}) }}"><h2 class="field field-title">{{ page.title }}</h2></a>
      <small>Category: <a href="{{ path('page_term', { 'id' : page.category.id}) }}">{{ page.category }}</a>,
        by <a href="{{ path('page_user', { 'id' : page.user.id }) }}">{{ page.user.username }}</a> on {{ page.created|date("H:i d/m/Y") }}
        {% if page.updatedAt != null %}
          <div class="field field-updated">{{ page.updatedAt |date("H:i d/m/Y") }}</div>
        {% endif %}
      </small>
      <hr>
      <div class="field field-body">{{ page.body }}</div>
      <hr>
      <div class="field field-comments mt-3">
        <div class="comment-preview">
          <h2 class="comment-title">Comments</h2>
          {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')  %}
            {{ form(comment_form) }}
          {% else %}
            <p>You must <a href="{{ path('login') }}">login</a> to add comments</p>
          {% endif %}
          <div class="list">
            {% for item in page_comments %}
              <div class="list-item">
                {{ include('@Comment/ViewMode/teaser.html.twig', {'item' : item }) }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}