<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Blog Symfony</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>
    <body>
    <nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-inverse bg-info">
            <div class="navbar-brand nav-link">Blog on symfony</div>
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('page_list') }}">Blog</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a class="nav-link" href="{{ path('admin_page') }}">Administrace</a></li>
            </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('logout') }}">Logout</a></li>
        </ul>
        {% elseif app.user and is_granted('ROLE_USER') %}
            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
            </li>
            </ul>
        {% else %}
            <a class="nav-link" href="{{ path('login') }}">Login</a>
            </li>
            </ul>
        {% endif %}

        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer></footer>
    </body>
</html>
